
.category-page {
    padding: 2rem;
    min-height: 80vh;
}

.category-title {
    text-align: center;
    color: #0000ff;
    margin-bottom: 2rem;
}

.category__products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}